<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/js/style.css" type="text/css" />
</head>

<body>
  <div class="container">
    <h1 class="mt-3 mb-4">Vane_BlockChain</h1>
    <a href="" id="download">다운로드<br><br></a>
    <table style="width:100%" id="table1"><th style="color:red">Index</th><th>&nbsp일련번호</th><th>계약서 이름</th><th>서명 필요 인원 수</th><th>서명 완료 인원 수</th><th>파일 이름</th><th>토큰 생성 시간</th>
    </table>
        <table style="width:100%" id="table2"><br><br><th style="color:red">Index</th><th>&nbsp이메일1</th><th>서명시간1</th><th>이메일2</th><th>서명시간2</th><th>이메일3</th><th>서명시간3</th><th>계약서 해시값</th></table>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/lib/web3-light@0.20.6.js"></script>
  <script type="text/javascript" src="/js/lib/moment.js"></script>
  <script type="text/javascript" src="/js/lib/moment_locale.js"></script>
  <script type="text/javascript" src="/js/abi.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script>
  	

  	
  	document.addEventListener('DOMContentLoaded', function(){

  		document.getElementById('download').addEventListener('click', function() {
  			saveCSV('data.csv');
  			return false;
  		})
  	});
  	
  	function saveCSV(fileName) {
  		let downLink = document.getElementById('download');

  		let csv = '';
  		let rows = document.querySelectorAll("#table1 tr");
		let rows2 = document.querySelectorAll("#table2 tr");
  		
  		for(var i=0; i<rows.length; i++) {
  			let cells = rows[i].querySelectorAll("td");
  			let row = [];
  			cells.forEach(function(cell){
  				row.push(cell.innerHTML);
  			});
  			csv += row.join(',') + (i != rows.length-1 ? '\n' : '');
  		}
  		for(var i=0; i<rows2.length; i++) {
  			let cells2 = rows2[i].querySelectorAll("td");
  			let row2 = [];
  			cells2.forEach(function(cell){
  				row2.push(cell.innerHTML);
  			});
  			csv += row2.join(',') + (i != rows2.length-1 ? '\n' : '');
  		}
  		csvFile = new Blob([csv], {type: "text/csv"});
  		downLink.href = URL.createObjectURL(csvFile);
  		downLink.download = fileName;
  	}
  	
  </script>	
</body>
<script>setTimeout('location.reload()', 60000);</script>
</html>
